.hero-heading h1 {
  font-size: var(--fs-primary-heading);
  color: var(--text-gray-fast);
  font-weight: var(--fw-bold);
  line-height: 40px;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

@media (max-width: 49em) {
  .hero-section {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .hero-heading h1 {
    font-size: 2rem;
  }
}
