.card-container .box {
  width: calc((100% / 3) - 20px);
  background-color: white;
  position: relative;
}

.card-container .box:first-of-type:before {
  content: "Featured";
  background-color: #ec5029;
  color: white;
  font-size: 13px;
  padding: 4px 10px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.card-container .box:first-of-type:after {
  content: "";
  border-width: 12px;
  border-style: solid;
  border-color: transparent transparent transparent #ec5029;
  position: absolute;
  left: 72px;
  top: 0;
  transform: translateY(-50%);
}

.card-container .box .top {
  position: relative;
  background-color: red;
}

.card-container .box .top:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(236, 80, 41, 0.829);
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}

.card-container .box .top:hover:before {
  opacity: 1;
}

.card-container .box .top:after {
  content: "View Property";
  color: white;
  font-size: 12px;
  padding: 10px;
  border: 1px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s;
  opacity: 0;
}

.card-container .box .top:hover:after {
  opacity: 1;
}

.card-container .box .top img {
  width: 100%;
  margin-bottom: -4px;
}

.card-container .box .top span {
  position: absolute;
  right: 20px;
  bottom: 15px;
  color: white;
  font-size: 20px;
}

.card-container .box .top span i {
  margin-left: 5px;
}

.card-container .box .bottom {
  padding: 20px 15px;
  position: relative;
}

.card-container .box:not(:last-of-type) .bottom:before {
  content: "Hot";
  background-color: #ea723d;
  color: white;
  font-size: 11px;
  padding: 4px 7px;
  position: absolute;
  left: 20px;
  top: -40px;
  z-index: 1;
}

.card-container .box .bottom h3 {
  font-size: 15px;
}

.card-container .box .bottom > p {
  margin: 15px 0;
  font-size: 13px;
  line-height: 1.4;
  color: #777;
}

.card-container .box .bottom .advants {
  display: flex;
}

.card-container .box .bottom .advants > div {
  margin-right: 15px;
}

.card-container .box .bottom .advants > div > span {
  font-weight: bold;
  font-size: 12px;
}

.card-container .box .bottom .advants > div > div {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.card-container .box .bottom .advants > div > div i {
  color: #777;
  font-size: 22px;
}

.card-container .box .bottom .advants > div > div > span {
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.card-container .box .bottom .advants > div > div > span > span {
  color: #777;
  font-weight: normal;
  margin-left: 5px;
}

.card-container .box .bottom .price {
  margin-top: 20px;
}

.card-container .box .bottom .price span:first-of-type {
  display: block;
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-container .box .bottom .price span:last-of-type {
  color: #3eaba1;
  font-size: 22px;
}
