.nav-container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(246, 243, 243, 0.8);
  font-size: var(--fs-nav);
  font-weight: var(--fw-semi-bold);
  z-index: 100;
}

.logo a {
  text-decoration: none;
  color: var(--text-gray-fast);
  font-weight: var(--fw-bold);
  font-size: var(--fs-700);
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items ul {
  display: flex;
  align-items: center;
}

.nav-items ul li {
  margin: 0 16px;
}

.register {
  margin-left: 1.5rem;
}

.hamburger {
  display: none;
}

@media (max-width: 49em) {
  .nav-items {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
