.sidebar-container {
  position: fixed;
  top: 0;
  right: -250px;
  height: 100%;
  width: min(100%, 250px);
  background-color: var(--bg-primary);
  overflow-x: hidden;
  transition: 0.3s; /* Smooth slide-in transition */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 1rem;
}

.sidebar-container ul li {
  list-style-type: none;
  padding: 0.6rem 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed black overlay */
  z-index: 200; /* Ensure the overlay is below the sidebar */
}

.sidebar {
  display: none;
}

@media (max-width: 49em) {
  .sidebar {
    display: block;
  }
}

/* Class to open the sidebar */
.open {
  right: 0;
}

/* Prevent body from scrolling when sidebar is open */
body.noscroll {
  overflow: hidden;
}
