@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-orange: #ec5029;
  --clr-orange-light: #e95631;
  --clr-green: #00645f;
  --clr-green-light: #01635f;
  --clr-white: #ffffff;

  --bg-primary: #f6f3f3;
  --bg-white: #ffffff;

  --text-gray-fast: #333333;
  --text-gray-light: #626060;

  --fs-body: var(--fs-600);
  --fs-primary-heading: var(--fs-1000);
  --fs-secondary-heading: var(--fs-900);
  --fs-nav: var(--fs-600);
  --fs-button: var(--fs-400);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 0.875rem;
  --fs-500: 0.9375rem;
  --fs-600: 1rem;
  --fs-700: 1.275rem;
  --fs-800: 1.5rem;
  --fs-900: 2rem;
  --fs-1000: 3.5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  color: var(--text-gray-light);
}

body {
  background-color: var(--bg-primary);
  font-size: var(--fs-body);
  color: var(--text-gray-light);
}

.container {
  width: min(1180px, 100% - (1rem) * 2);
  margin-inline: auto;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  font-size: var(--fs-button);
  font-weight: var(--fw-bold);
  color: var(--bg-primary);
  border-radius: 0.5rem;
}

.btn-big {
  cursor: pointer;
  padding: 0.8rem 2rem;
  border: none;
  font-size: 1rem;
  font-weight: var(--fw-bold);
  color: var(--bg-primary);
  border-radius: 0.5rem;
}

.btn-orange {
  background-color: var(--clr-orange);
}

.btn-green {
  background-color: var(--clr-green);
}

.underline-text {
  background: linear-gradient(to bottom, transparent 50%, #f2b407 50%);
  color: var(--text-gray-fast);
}

.underline-text-white {
  background: linear-gradient(to bottom, transparent 50%, #ffffff 50%);
  color: var(--text-gray-fast);
}
